* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 10vh;
}

.encabezado {
    height: 15vh;
}
.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;

    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;

    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}



/*---otros.*/

.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */




.card-cc h5{
    
    font-size: 23px;
    
}



/* Aplicando media queries */

@media (max-width:575px) {
    .footer {
        display: flex;
        flex-direction: column;
    }


}

