* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Formato */

.logo {
    height: 10vh;
}

.encabezado {
    height: 15vh;
}

.contenido {
    margin: 17vh 0 0;
}

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.card-cc h5 {

    font-size: 23px;

}


/* Carrito */

.submenu {
    position: relative;
}

.submenu #carritoo {
    display: none;
}

.submenu:hover #carritoo {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
   
}



/* Aplicando media queries */

@media (max-width:992px) {
    .footer {
        display: flex;
        flex-direction: column;
        
    }

    .footer div {
        height: 5vh;
    }

    .footer button {
        height: 5vh;
    }

    .botones-footer{
        display: flex;
        flex-direction: row;
        
    }

    .contenido {
        padding: 0 0 18vh 0;
        
    }

    #lista {
        height: 8vh;
        
    }

    





   
}